.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-right: 5px;
}

.product-name {
  color: blue;
  font-size: 16px;
}

.btn-regular {
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;

  margin-bottom: 10px;
}
